/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 12, ../sass/ie7.scss */
.guang-shu {
  left: -1000px;
}

/* line 13, ../sass/ie7.scss */
.top {
  width: 1000px;
  position: fixed;
  top: 10%;
  z-index: 1;
  left: 50%;
}
